#price {
    .imageBox {
        margin-top: -72px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        background-position: center;
        background-size: cover;
    }
    .imageBox2 {
        margin-top: -72px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        background-position: center;
        background-size: cover;
    margin-left: -120px;
    }
}